.butClass
{ 
    border: 1px solid #000000;
    border-color: #e4e4e4;
}

.tdClass
{
    padding: 3px;
    padding-top:3px;
    background-color:#e4e4e4;
}

.wdth,.codeview,.iframe,.tlz{
    width:500px;
}

.iframe,.codeview{
    height:400px;
    font:10px Verdana;
}

.codeview{
    display:none; height:400px; font:10px Verdana;
}

.tlz{
    border:1px solid black;
    background-color:#ffffff;
    margin-bottom:10px;
}

.rtf{
    font:10px verdana;
    width:100px;
    margin-left:5px;
}

.activetlz{
    background-color:#e4e4e4;
}
